.button-container {
  display: flex;
  background-color: rgba(0, 73, 144);
  margin-top: -5rem;
  width: 300px; /* Increased width */
  height: 60px; /* Increased height */
  align-items: center;
  justify-content: space-around;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px, rgba(0, 73, 144, 0.5) 5px 10px 15px;
  transition: all 0.5s;
}
#btn-container{
  border: solid 1px #fff;
  width: 300px; /* Increased width */
}
#btn-container:hover {
  width: 350px; /* Increased width on hover */
  transition: all 0.5s;
}

.btn{
  outline: 0 !important;
  border: 0 !important;
  width: 50px; /* Increased size */
  height: 50px; /* Increased size */
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}

#button:hover {
  transform: translateY(-3px);
  background: black;
}

.icon {
  font-size: 30px; /* Increased icon size */
}
