.sidebar-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
  overflow-y: auto;
}

.app-wrapper {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.button3 {
  --glow-color: rgb(217, 176, 255);
  --glow-spread-color: rgba(191, 123, 255, 0.781);
  --enhanced-glow-color: rgb(231, 206, 255);
  --btn-color: rgb(100, 61, 136);
  border: .25em solid var(--glow-color);
  padding: 0.5em 1em; /* Adjust padding for smaller buttons */
  color: var(--glow-color);
  font-size: 12px; /* Adjust font size */
  font-weight: bold;
  background-color: var(--btn-color);
  border-radius: 1em;
  outline: none;
  box-shadow: 0 0 1em .25em var(--glow-color),
              0 0 4em 1em var(--glow-spread-color),
              inset 0 0 .75em .25em var(--glow-color);
  text-shadow: 0 0 .5em var(--glow-color);
  position: relative;
  transition: all 0.3s;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%; /* Make buttons full width */
  max-width: 150px; /* Set a maximum width */
  margin: 10px 0; /* Margin for spacing */
}

.button3::after {
  pointer-events: none;
  content: "";
  position: absolute;
  top: 120%;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: var(--glow-spread-color);
  -webkit-filter: blur(2em);
  filter: blur(2em);
  opacity: .7;
  transform: perspective(1.5em) rotateX(35deg) scale(1, .6);
}

.button3:hover {
  color: var(--btn-color);
  background-color: var(--glow-color);
  box-shadow: 0 0 1em .25em var(--glow-color),
              0 0 4em 2em var(--glow-spread-color),
              inset 0 0 .75em .25em var(--glow-color);
}

.button3:active {
  box-shadow: 0 0 0.6em .25em var(--glow-color),
              0 0 2.5em 2em var(--glow-spread-color),
              inset 0 0 .5em .25em var(--glow-color);
}

.word {
  text-align: center;
  margin: 10px 0; /* Adjust margin */
}

@media (max-width: 1024px) {
  .sidebar-container {
    padding: 10px; /* Less padding for smaller screens */
  }

  .button3 {
    padding: 0.5em 1em; /* Adjust button padding */
    font-size: 10px; /* Adjust font size */
  }

  .app-wrapper {
    margin-bottom: 10px; /* Less space between components */
  }
}
